@import "styles.css";

// Variables
$themecolor: #ffd071;
$submitbtnbg: #ffc34a;
$btnbordercolor: #ff8f06;
$borderlight:#bebebe;
$bglight: #e6e6e6;
$fontlight: #7d7d7d;

/* 我的评论页 page-mycomment */

.page-mycomment {
  & .container {
    font-family: '黑体', 'Microsoft Yahei', sans-serif;
    width: 100%;
    background: $bglight;

    & .comment {
      margin-bottom: 1rem;
      padding: 1rem;
      background: white;

      & .titlename {
        font-size: 1.2rem;
        color: $themecolor;
      }
      & .detail {
        margin-top: 1rem;
        line-height: 1.2rem;
        color: $fontlight;
      }
      & .info {
        margin-top: 1rem;
        color: $fontlight;
        & .state {
          width: 50px;
          color: red;
        }
        & .time {
          margin-right: 50px;
        }
      }
      & .star-wrapper {
        margin: 1rem 0;
        & .star-bg {
          width: 100%;
        }
      }
      & .entercomment {
        height: 150px;
        padding: 0 10px;
        text-align: center;

        & #entercomment {
          padding: 5px;
          width: 100%;
          height: 100%;
          border: 1px solid $themecolor;
          border-radius: 5px;
        }
      }
      & .uploadphotos {
        margin-top: 1rem;
        padding: 0 10px;
        color: $themecolor;

        & .uploadphotos-wrapper {
          width: 80%;
          margin: 0 auto;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;;
        }
        & .uploadphotos-btn-wrapper {
          position: relative;
          margin-left: 5px;
        }
        & input[type='button'] {
          background: url('../images/icon-camera.gif') no-repeat;
          background-position: 50%;
          width: 2rem;
          height: 2rem;
          border: 1px solid $themecolor;
          border-radius: 5px;
          }
        & input[type='file'] {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
        }
      }
    }
      & .btn-wrapper {
        margin-top: 1rem;
        padding: 0 60px;
        & button {
          width: 100%;
          border-radius: 5px;
          font-size: 1rem;
        }
      }
    }

}
