@charset "UTF-8";
@import url(styles.css);
/* 个人中心 page-profile */
.page-profile {
  height: 100%;
  background: #e6e6e6; }
  .page-profile div.container {
    font-family: '黑体', 'Microsoft Yahei', sans-serif;
    width: 100%; }
    .page-profile div.container .user {
      width: 100%;
      height: 12rem;
      position: relative;
      padding-top: .5rem;
      background: url("../images/profile-bg.png") no-repeat;
      background-size: cover;
      text-align: center; }
      .page-profile div.container .user .user-avatar img {
        width: 9rem;
        height: 9rem;
        border: 2px solid #ffd071;
        border-radius: 50%; }
      .page-profile div.container .user .username {
        margin-top: .5rem;
        font-family: '黑体', 'Microsoft Yahei', sans-serif;
        font-size: 1rem;
        color: white; }
    .page-profile div.container .profile-settings .profile-setting {
      display: block;
      position: relative;
      width: 100%;
      margin: 2rem 0;
      background: white; }
      .page-profile div.container .profile-settings .profile-setting span {
        width: 100%;
        height: 4rem;
        line-height: 4rem;
        color: black; }
    .page-profile div.container .profile-settings i.icon {
      float: left;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 1rem;
      width: 2rem;
      height: 2rem; }
    .page-profile div.container .profile-settings i.icon-myorder {
      background: url("../images/icon-myorder.png") no-repeat;
      background-size: contain; }
    .page-profile div.container .profile-settings i.icon-mycoupon {
      background: url("../images/icon-mycoupon.png") no-repeat;
      background-size: contain; }
    .page-profile div.container .profile-settings i.icon-myscore {
      background: url("../images/icon-myscore.png") no-repeat;
      background-size: contain; }
    .page-profile div.container .profile-settings i.icon-mycomment {
      background: url("../images/icon-mycomment.png") no-repeat;
      background-size: contain; }
    .page-profile div.container .profile-settings .fa-angle-right {
      float: right;
      margin-top: .5rem;
      margin-right: .5rem;
      font-size: 3rem;
      color: #ffd071; }
