doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    link(rel="stylesheet", href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/index.css")
    title 我的积分
  body.page-myscore
    header.topbar
      p 我的积分
    div.container
      div.user-avatar
        img(src="images/user-avatar.gif")
      p.username 子丶漠
      div.totalscore
        span 共有积分：
        span.showscore 666分
      button(type='button').normal-btn 我要兑换
        
    
