doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    link(rel="stylesheet", href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/index.css")
    title 租车界面
  body.page-rentcar
    header.topbar
      a(href="page-ordercar.html").fl
        i.fa.fa-angle-left
      p 选择车型
      div.fr
      div.clear
    div.container
      ul
        li
          a(href="page-orderdetail.html")
            div.car-option
              div.car-option-img-wrapper.fl
                img(src='images/icon-car-option.png')
              div.car-option-price.fr
                div.car-option-price-l.fl
                  p 日均价
                  span ￥
                  span.data-car-option-price 119
                i.fa.fa-angle-right.fr
                div.clear
              div.car-option-detail
                p.car-brand 大众斯柯达
                p.car-traits
                  span 自动1.6L
                  span 三厢
                  span 5座
              div.clear
        li
          a(href="page-orderdetail.html")
            div.car-option
              div.car-option-img-wrapper.fl
                img(src='images/icon-car-option.png')
              div.car-option-price.fr
                div.car-option-price-l.fl
                  p 日均价
                  span ￥
                  span.data-car-option-price 119
                i.fa.fa-angle-right.fr
                div.clear
              div.car-option-detail
                p.car-brand 大众斯柯达
                p.car-traits
                  span 自动1.6L
                  span 三厢
                  span 5座
              div.clear
        li
          a(href="page-orderdetail.html")
            div.car-option
              div.car-option-img-wrapper.fl
                img(src='images/icon-car-option.png')
              div.car-option-price.fr
                div.car-option-price-l.fl
                  p 日均价
                  span ￥
                  span.data-car-option-price 119
                i.fa.fa-angle-right.fr
                div.clear
              div.car-option-detail
                p.car-brand 大众斯柯达
                p.car-traits
                  span 自动1.6L
                  span 三厢
                  span 5座
              div.clear
        li
          a(href="page-orderdetail.html")
            div.car-option
              div.car-option-img-wrapper.fl
                img(src='images/icon-car-option.png')
              div.car-option-price.fr
                div.car-option-price-l.fl
                  p 日均价
                  span ￥
                  span.data-car-option-price 119
                i.fa.fa-angle-right.fr
                div.clear
              div.car-option-detail
                p.car-brand 大众斯柯达
                p.car-traits
                  span 自动1.6L
                  span 三厢
                  span 5座
              div.clear
        li
          a(href="page-orderdetail.html")
            div.car-option
              div.car-option-img-wrapper.fl
                img(src='images/icon-car-option.png')
              div.car-option-price.fr
                div.car-option-price-l.fl
                  p 日均价
                  span ￥
                  span.data-car-option-price 119
                i.fa.fa-angle-right.fr
                div.clear
              div.car-option-detail
                p.car-brand 大众斯柯达
                p.car-traits
                  span 自动1.6L
                  span 三厢
                  span 5座
              div.clear
        li
          a(href="page-orderdetail.html")
            div.car-option
              div.car-option-img-wrapper.fl
                img(src='images/icon-car-option.png')
              div.car-option-price.fr
                div.car-option-price-l.fl
                  p 日均价
                  span ￥
                  span.data-car-option-price 119
                i.fa.fa-angle-right.fr
                div.clear
              div.car-option-detail
                p.car-brand 大众斯柯达
                p.car-traits
                  span 自动1.6L
                  span 三厢
                  span 5座
              div.clear
