-var title = '包车订单车辆选择页面'
include includes/head.jade
body.page-get-car-choose-car
  div.top-with-shadow
    p 2016-07-16 17:15
    div.detail
      span.rect 上车地点
      span 君临天下大厦
    div.detail
      span.rect 用车时长
      span 半天
  section
    div.slogan
      span 省钱、省时、省心，就选择加加租车！
    div.choose-car-detail
      ul
        li.car-size
          div.car-size-main
            span.five.on
              i.icon-five
              i 五座
            span.seven
              i.icon-seven
              i 七座
            div.clear
          div.car-size-price
            span.five-price.on ￥368
            span.seven-price ￥568
        li.coupon
          span 券
        li.car-info-price
          div.car-price.fr
            span ￥587
          div.car-info
            p 加加租车
            span 五座|雅阁|接机|半天
          div.clear
        li.car-tel
          span 订车电话：
          span 15620856435
  div.footer-with-shadow
    div.footer-with-shadow-r.fr
      button(type='submit') 提交订单
    div.footer-with-shadow-l
      div.price
        span 总价格：
        span.yellowfont ￥587
      div.price
        span 担保金额：
        span.yellowfont ￥1007
    div.clear
