doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    link(rel="stylesheet", href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/index.css")
    title 我的评论页
  body.page-mycomment
    header.topbar
      p 我的评论
    div.container
      div.comment
          div.titlename 包车送机
          div.info
            div.state.fr 已完成
            div.time
              span 预约时间：
              span.date 2016年5月24日
            div.clear
          div.star-wrapper
            div.star_bg.fr
              input(type="radio",value='1',name='score-group-2').score.score_1
              a(title='差').star.star_1
              input(type="radio",value='2',name='score-group-2').score.score_2
              a(title='较差').star.star_2
              input(type="radio",value='3',name='score-group-2').score.score_3
              a(title='普通').star.star_3
              input(type="radio",value='4',name='score-group-2').score.score_4
              a(title='较好').star.star_4
              input(type="radio",value='5',name='score-group-2').score.score_5
              a(title='好').star.star_5
            div.clear
          div.entercomment
            textarea(placeholder='请输入评论内容')#entercomment
          div.uploadphotos
            div.uploadphotos-wrapper
              div.uploadphotos-btn-wrapper.fl
                input(type='file')
                input(type='button')
              div.uploadphotos-btn-wrapper.fl
                input(type='file')
                input(type='button')
              div.uploadphotos-btn-wrapper.fl
                input(type='file')
                input(type='button')
              div.uploadphotos-btn-wrapper.fl
                input(type='file')
                input(type='button')
              div.uploadphotos-btn-wrapper.fl
                input(type='file')
                input(type='button')
              div.clear
          div.btn-wrapper
            button(type='button').normal-btn 提 交
      div.comment
        div.titlename 租用汽车
        div.detail
          div.get-car-city
            span 取车城市：
            span.data-get-car-city 北京
          div.return-car-city
            span 还车城市：
            span.data-return-car-city 北京
          div.rent-time
            span 租用时间：
            span.data-rent-time 两天半
        div.info
          div.state.fr 已完成
          div.time
            span 预约时间：
            span.date 2016年6月1日-2016年6月3日中午12：00
          div.clear
        div.star-wrapper
          div.star_bg.fr
            input(type="radio",value='1',name='score-group-2').score.score_1
            a(title='差').star.star_1
            input(type="radio",value='2',name='score-group-2').score.score_2
            a(title='较差').star.star_2
            input(type="radio",value='3',name='score-group-2').score.score_3
            a(title='普通').star.star_3
            input(type="radio",value='4',name='score-group-2').score.score_4
            a(title='较好').star.star_4
            input(type="radio",value='5',name='score-group-2').score.score_5
            a(title='好').star.star_5
          div.clear
        div.entercomment
          textarea(placeholder='请输入评论内容')#entercomment
        div.uploadphotos
          div.uploadphotos-wrapper
            div.uploadphotos-btn-wrapper.fl
              input(type='file')
              input(type='button')
            div.uploadphotos-btn-wrapper.fl
              input(type='file')
              input(type='button')
            div.uploadphotos-btn-wrapper.fl
              input(type='file')
              input(type='button')
            div.uploadphotos-btn-wrapper.fl
              input(type='file')
              input(type='button')
            div.uploadphotos-btn-wrapper.fl
              input(type='file')
              input(type='button')
            div.clear
        div.btn-wrapper
          button(type='button').normal-btn 提 交
